<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Главное меню</title>
</head>
<body>
    <header class="header">
        <div class="nav-container">
            <div class="logo">Texnopos</div>
            
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="reg-btn">
                        👤 {{ user.username }}
                    </a>
                {% else %}
                    <a href="{% url 'register' %}" class="reg-btn">
                        👤 Регистрация
                    </a>
                {% endif %}
            </div>
        </div>
    </header>           
</body>
</html>