<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Регистрация</title>
</head>
<body>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div>
                    <label>{{ field.label }}:</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <p style="color: red;">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button type="submit">Войти</button>
        </form>
        
        <p class="login-link">Уже есть аккаунт? <a href="{% url 'base' %}">Войти</a></p>
    </div>
          
</body>
</html>